[mysqld]
skip-innodb
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
query_cache_size=50000000
     
[mysql.server]
user=mysql
basedir=/var/lib

[safe_mysqld]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
